{% extends '@Contao/block_unsearchable' %}

{% block content %}
    {{ cebb_event_get_event().title }}
    <nav class="cebb_checkout__nav">{{ step_navigation|raw }}</nav>

    {% if exception|default %}
        <div class="cebb_checkout__checkout-exception">{{ exception }}</div>
    {% endif %}

    {{ step_markup|raw }}

{% endblock %}
